@import '../sass-plugins/reset'
@import '../sass-plugins/typography'
@import '../sass-plugins/grid'
@import 'nivo-slider'
@import 'slider'
@import 'blue'

.wrapper
  float: left
  width: 100%
  
#top_bar
  height: 7px

#header
  height: 80px
  padding: 10px 0
  #logo
    +column(4, false)

  ul#top_nav
    +column(8, true)
    padding: 18px 0
    margin: 0
    list-style-type: none
    li
      position: relative
      float: right
      padding: 10px 15px
      font-size: 1.2em
      text-transform: uppercase
    a
      text-decoration: none

#main_top
  height: 650px
  padding: 20px 0
  #content
    +column(12, true)

#main_bottom
  padding: 30px 0
  font-size: 1.3em

#footer
  padding: 30px 0

  #copyright
    +column(8, false)
    text-transform: uppercase

  #grokphoto_credit
    +column(4, true)
    a
      width: 82px
      height: 22px
      text-indent: -9999px
      display: block
      float: right

.container
  +row
